fastapi==0.110.0
uvicorn[standard]==0.29.0
pydicom==2.4.4
numpy==1.26.4
opencv-python-headless==4.9.0.80
Pillow
torch
torchvision
nibabel
matplotlib
scikit-learn
scipy
jinja2
pandas


#command to install the requirements and run the server.
#->python -m venv venv
#->env\Scripts\activate
#->docker build -t pi-fastapi .
#->docker run -d -p 8000:8000 --name pi-container pi-fastapi
#->uvicorn app.api_server:app --reload