# Core
fastapi
uvicorn[standard]
python-multipart
aiofiles
pydantic
python-dotenv

# Deep Learning
torch
torchvision
torchaudio
monai

# Medical Imaging
pydicom
nibabel
scikit-image
opencv-python-headless
SimpleITK
Pillow

# Data Processing
numpy
pandas
scikit-learn
joblib

# Visualization
matplotlib
seaborn

# Explainable AI
shap
grad-cam

# Networking / Requests
requests

# Excel/Optional Export
openpyxl

# Optional CLI support
typer[all]
    